a:hover {
	
}

body{
	background-color: transparent !important;
  font-family: 'Exo', inherit;
}

.bg-black60{
	background: rgba(0,0,0,0.75);
}

.detalle {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0,0,0,.60);
}

.error {
  color:red;
}

.navbar {
	background-color: rgba(0,0,0,0.77) !important;
    z-index: 10000;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-brand, .navbar-brand:hover{
	font-family: Candal;
	color: white;
}
